
#back-button, #continue-button, #clear-button, #search-button {

  margin-right: 0px;
  margin-right: 20px;
  margin-top: 30px;
  float: right;
  width: 35px;
  padding: 20px;
  box-shadow: 1px 1px 2px #8e8f91;
}
.columns {
  column-count: 2;
}

.dropzone {
text-align: center;
font-size: 16px;

}
    #continue-button {
        background-color: #8C8C8C;
      }

      #delete-button {

        margin: 15px;
        float: left;
        width: 40px;
        padding: 20px;
        box-shadow: 1px 1px 2px #8e8f91;

      }
      #presaved {

        margin-right: 20px;
        margin-top: 30px;
        box-shadow: 1px 1px 2px #8e8f91;
      }

      #placeholder {
        text-align: center;
      }


nav {
  width: 100%;
}
#nav ul {
  list-style: none;
  background-color: none;
  text-align: right;
  display: inline-block;

  width: 100%;
  position: sticky;
  margin-top: -80px;
}

#nav a {
  text-decoration: none;
  color: #fff;
  height: 40px;
  font-size: 15px;

}


#nav li {
    display: inline-block;
    margin: 10px;
  }

  textarea {
    width: 740px;
    height: 400px;

  }
  .hover:not(.nohover){
    border: 5px;

  }

  #field {

    width: 100%;
  }

  .inputfield {
    position: relative;
    margin: 10px;
  }

  .inputfield > i {
    position: absolute;

  }
  .include > i {
    position: absolute;

  }

  .inputfield > .addfield {
    right: 30px;
    top: 3px;

  }

  .inputfield > .subtractfield {
    right: 5px;
    top: 3px;
  }

#time {
  width: 3%;

}

.two-column {
  column-count: 2;
  margin-top: 0px;

}


#acceptedFiles {
  margin-left: -40px;
  padding-top: 10px;
  list-style: square;
}

body .form-control.valid {
  border: 1px solid transparent;
  border-color: #c8c8c8;
  border-radius: 0px;
  height: 32px;
}

body .form-control.invalid {
  border: 1px solid red;
  border-color: red;
  height: 32px;
}

body .filetype.invalid {
  color: red;
}

body .filetype.valid {
color: green;
}

.dropzonearea {
  padding: 30px;
  margin-left: -30px;
}
#ptext {
 padding-top: 15px;
}
.background {
  background-color: #D6D6D6;
}

.form-control:focus {
  outline: none;
}

.filter-tag > span{
  padding: 4px 5px 4px ;
  margin-right: 5px;
  color: #FFF;
}

.filter-tag > span:after {
margin-left: 3px;
font-size: 13px;
content: '\E711';
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-family: FabricMDL2Icons;
font-style: normal;
font-weight: 400;
speak: none;
}
.include > span {

  background: green;
  border-radius: 5px;
}

.exclude > span {
  background: red;
  border-radius: 5px;
}
#exclude {
  margin-top: 15px;

}
#include {
  margin-top: 15px;
}

.ms-DatePicker-weekday {
  text-align: center;
}
